<header>
  <h2>Another Todo App</h2>
</header>

<body>
  <div id="imageBackground">
      <br>
      <li *ngFor="let item of itemList; let i = index" >
        <mat-checkbox></mat-checkbox>  {{item.userInput}} <mat-icon>clear</mat-icon>
      </li>
      <br>
  </div>
</body>
<div id="actionButtons">
  <input id="taskAdd" placeholder="Type your task here..." [(ngModel)]="userInput" (keydown)="confirmInput($event)">
    <mat-icon id="deleteAll" style="color:#df4472" onclick="removeAllItems()">delete_forever</mat-icon>
</div>

<footer></footer>
